

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    background-color: #000000;
    color: white;
    /* font-family: oswald; */
}

html,body {
    width: 100%;
    height: 100%;
}

main {
    padding: 1vw 2.8vw;
    width: 100%;
}
nav {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* body::-webkit-scrollbar{
    display: none;
} */
.logo h1 {
    font-size: 1.3vw;
    text-transform: uppercase;
    font-size: 100;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
nav h2 {
    color: #B7B2B2;
    font-size: 1.4vw;
    font-weight: 100;
}
nav button {
    border: none;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
}
.Page1 {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
}

.Page1 h1 {
    font-size: 11vw;
}
.content {
    display: flex;
    align-items: center;
    gap: 4vw;
}
.contact i{
    font-size: 3vw;
    margin-right: 1.2vw;
}
.footers{
    display: flex;
    align-items: center;
    gap: 33%;
}
.about{
    font-size: 1.4vw;
}
.about span{
    color: rgb(185, 183, 183);

}
.about p{
    letter-spacing: 2px;
}

.projects div{
    font-size: 2vw;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4vw;
    justify-content: center;
    margin-top: 4vw;
}
.projects div h2 span{
    color: #77edfd;
}
.overlays .elem{
    border-top: 1px solid white;
    font-size: 4vw;
    border-bottom: 1px solid white;
    padding: 3vw 1.5vw;
    position: relative;
}
.elem h3 a{
    font-size: 2.5vw;
    color: white;
}
.overlays div img{
    width: 25vw;
    height: 40vh;
    position: absolute;
    z-index: 22;
    border-radius: 10px;
    opacity: 0;
    
    transform: translate(-50%,-90%);
}
section a{
    text-decoration: none;
    font-size: 1.5vw;
    color: #B7B2B2;
    text-align: right;
}
#skills{
    width: 100%;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.5vw;
}
.skillsHead{
    font-size: 3.2vw;
}
.skillsHead div h4 span{
    color: #FD7777;
}
.development p{
    font-size: 2vw;
    border: 1px solid white;
    width: fit-content;
    padding: 1.5vw;
    border-radius: 2vw ;
}
.development div{
    padding: 2vw 0;
    display: flex;
    align-items: center;
    gap: 1.8vw;
}
.development div img{
    width: 6.8vw;
}
aside{
    width: 100%;
    height: 70vh;
}
aside h5{
    font-size: 4vw;
    text-transform: uppercase;
}
aside p{
    font-size: 2.2vw;
    margin-top: 2vw;
    width: 80%;
}
#contact h6{
    font-size: 8vw;
    /* text-transform: uppercase; */
}
#contact a{
    text-decoration: none;
}
#linked{
    color: aqua;
}
#twitter{
    color: #FD7777;
}
#contact p{
    text-align: center;
    margin-top: 1.5vw;
}